/* Para news, gallery, activities*/

/* Contenedor principal */
.main-container {
    width: 1000px;
    height: auto;
    background-color: #d9b48f;
    border: 10px solid #c19a6b;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Marco principal */
.frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Contenedor 1: Imagen principal e información del tiempo */
.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    border-bottom: 2px solid #c19a6b;
}

/* Imagen principal */
.image-section {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.image-section img {
    width: 90%;
    height: 30%;
    max-height: 300px;
    max-width: 900px;
    object-fit: cover;
    border-radius: 10px;
}

.date-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/* Información del tiempo */
.time-section {
    width: 600px;
    height:300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #ffe4c4;
    padding: 10px;
    border-radius: 5px;
    height: auto;
}
.time-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.time-label {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.weather-icon {
    width: 50px;
    height: 50px;
    margin: 10px 0;
}

.temperature-label {
    font-size: 18px;
    color: #555;
}

/* Contenedor 2: Frase inspiradora */
.quote-section {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: #444;
    padding: 0px;
    background-color: #fff8dc;
}

/* Contenedor 3: Botones */
.buttons-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffe4c4;
    padding: 10px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}

.button img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.button span {
    font-size: 14px;
    color: #333;
}

