<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Imagen</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
    <script src="/static/js/edit-image.js"></script>
    
</head>
<body class="edit-page">
    <div class="edit-container">
        <h2>Editar Imagen Principal</h2>
    
        <!-- Seleccionar fondo -->
        <label for="background-selector">Seleccionar Fondo:</label>
        <select id="background-selector">
            <option value="/static/images/backgrounds/fnd1.jpg">Fondo 1</option>
            <option value="/static/images/backgrounds/fnd2.jpg">Fondo 2</option>
            <option value="/static/images/backgrounds/fnd3.jpg">Fondo 3</option>
        </select>
        
        <!-- Seleccionar imagen principal -->
        <label for="main-image-selector">Seleccionar Imagen Principal:</label>
        <input type="file" id="main-image-selector" accept="image/*">
    
        <!-- Botones -->
        <button id="save-changes-button">Guardar Cambios</button>
        <button id="reset-button">Restablecer</button>
        
        <button onclick="window.location.href='/main'">Regresar a la Pantalla Principal</button>
    </div>

</body>
</html>
